<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<parameter name="browser" value="chrome"></parameter>
<parameter name="URL" value="https://uat.gamma.destinationxl.com"/>

  <test thread-count="5" name="Test123">
  <classes>
			<class name="DXL.UAT.BaseClass" />
			<class name="test_Pages.MyAccount.Sign_In"></class>
			<class name="test_Pages.MyAccount.Saved_Addresses"></class>
		</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
